<%- include('./includes/head.ejs') %>

<div class="container-fluid bg-warning">
    <ul class="list-group">
        <li class="list-group-item"><%= __('item1') %></li>
        <li class="list-group-item"><%= __('item2') %></li>
        <li class="list-group-item"><%= __('item3') %></li>
        <li class="list-group-item"><%= __('item4') %></li>
        <li class="list-group-item"><%= __('item5') %></li>
      </ul>
</div>

<%- include('./includes/end.ejs') %>