<%- include('./includes/head.ejs') %>

<div class="jumbotron">
    <h1 class="display-4"><%= __('hello world') %></h1>
    <p class="lead"><%= __('hero text p1') %></p>
    <hr class="my-4">
    <p><%= __('hero text p2') %></p>
    <a class="btn btn-success btn-lg" href="#" role="button"><%= __('Learn more') %></a>
  </div>

  <%- include('./includes/end.ejs') %>